@model School

<h1>Create</h1>

<h4>StudentInfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentInfo.Name" class="control-label"></label>
                <input asp-for="StudentInfo.Name" class="form-control" />
                <span asp-validation-for="StudentInfo.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentInfo.Age" class="control-label"></label>
                <input asp-for="StudentInfo.Age" class="form-control" />
                <span asp-validation-for="StudentInfo.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentInfo.Standard" class="control-label"></label>
                <input asp-for="StudentInfo.Standard" class="form-control" />
                <span asp-validation-for="StudentInfo.Standard" class="text-danger"></span>
            </div>

            <div id="parentContainer">
                    @* <partial name="_addParentDetails" model="new ParentInfo()" /> *@
            </div>

            <button type="button" class="btn btn-primary" id="addParentBtn">Add Parent</button>

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var parentCount = @Model.ParentsList.Count;

            $('#addParentBtn').click(function () {
                $.ajax({
                    url: '@Url.Action("AddParent", "Home")',
                    type: 'GET',
                    success: function (data) {
                        $('#parentContainer').append(data);
                        parentCount++;
                    },
                    error: function (xhr, status, error) {
                        alert("An error occurred: " + error);
                    }
                });
            });

            $('#parentContainer').on('click', '.remove-position-btn', function () {
                $(this).closest('.parent-item').remove();
            });
        });
    </script>
}